Repository ProximApp/Hyperion, pull requests merged in 2025-08, with the labels that each got.

#13 CoreAssociation
  app/core/associations/__init__.py
  app/core/associations/cruds_associations.py
  app/core/associations/endpoints_associations.py
  app/core/associations/factory_associations.py
  app/core/associations/models_associations.py
  app/core/associations/schemas_associations.py
  app/core/users/models_users.py
  app/dependencies.py
  app/utils/tools.py
  migrations/versions/40-core_associations.py
  tests/test_associations.py
Labels: enhancement, core

#20 Fix circular import between Scheduler and dependencies that only occured on Windows
  app/dependencies.py
  app/utils/communication/notifications.py
Labels: bug, core

#21 Feed: remove status in admin query
  app/core/feed/cruds_feed.py
  app/core/feed/endpoints_feed.py
Labels: feed

#32 Don't raise when feed picture does not exist and create data/campaigns folder at launch
  app/app.py
  app/core/feed/endpoints_feed.py
Labels: bug

#42 Fix email invitation
  app/core/core_endpoints/cruds_core.py
  app/core/users/endpoints_users.py
  app/types/scheduler.py
  app/utils/mail/mailworker.py
Labels: bug, core_endpoints

#43 Allow to invite an user when there are no users in db
  app/core/users/cruds_users.py
  app/core/users/endpoints_users.py
  tests/test_users.py
Labels: enhancement, core

#44 Allow super admin and admin to access groups
  app/core/groups/endpoints_groups.py
Labels: enhancement, core_endpoints
